body{
    background: #E5E5E5;
    font-family:'Inter', sans-serif;
}

.logo{
    position: absolute;
    margin: 40px 0 0 84px;
}

.nonbre-alura{
    position: absolute;
    top: 15px;
    left: 35px;
    font-size: 30px;
    color: #0A3871;
}

.nombre-encriptador{
    position: absolute;
    width: 400px;
    top: 25px;
    left: 30%;
    font-size: 40px;
    color: #0A3871;
}

.bloque1{
    display: flex;
    width: 50%;
}

.bloque2{    
    width: 50%;
    position: absolute;
    vertical-align: top;
}


.texto-encriptar{
    display: inline-block;
    position: absolute;
    border-radius: 32px;
    border: none;
    padding: 10px;
    margin: 130px 0 0 240px;
    font-weight: 400;
    font-size: 32px;
    width: 577px;
    height: 100px;
    color: #0A3871;
}

.texto-desencriptar{
    display: inline-block;
    background-image: url(imagenes/Muñeco.png);
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    color: #343440;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 700;
    border-radius: 32px;
    box-shadow: 0px 24px 32px - 8px;
    position: absolute;
    vertical-align: top;
    width: 600px;
    height:630px;
    margin: -710px 0px 0px 1050px;
    border: none;
    padding: auto;
}

.aviso{
    width: 205px;
    height: 18px;
    position: absolute;
    top: 750px;
    left: 245px;
    opacity: 0.8;
    font-size: 12px;
    font-weight: 400;
    color: #495057;
    line-height: 150%;
}

.aviso::before{
    content:"!";
}

/* botones */

.botones{
    display: flex;
    flex: none;
    flex-direction: row;
    align-items: flex-start;
    margin: 780px 80px 0px 200px;
    vertical-align: bottom;
    
}

.encriptar{
    display: inline-block;    
    padding: 24px;
    background: #0A3871;
    color: white;
    width: 328px;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    margin: 0 24px 0 0;
} 

.encriptar:hover{
    background: #D8DFE8;
    color: #0A3871;
    transform: scale(1.1)
}

.desencriptar{
    display: inline-block;
    text-align: center;
    background: #D8DFE8;
    color: #0A3871;
    width: 328px;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
}

.desencriptar:hover{
    background: #0A3871;
    color: #D8DFE8;
    transform: scale(1.1)
}

.copiar{
    display: inline-block;    
    padding: 24px;
    background: #0A3871;
    color: white;
    width: 328px;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    margin: 0 0 0 300px;
}

.copiar:hover{
    background: #D8DFE8;
    color: #0A3871;
    transform: scale(1.1)
}

footer{    
    background: #0A3871;
    color: #FFFFFF;
    text-align: center;
    padding: 17px;
    margin-top: 20px;
    font-size: 12px;
    line-height: 150%;
}
